[user]
	name = Johnny Wong
	email = wzhao23@gmail.com
[color]
  ui = true
[push]
  default = tracking
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  up = push
  po = push origin
  lg = log --color --graph --pretty=format:'%C(yellow)%h%Creset -%Cred%d%Creset %s  %C(bold blue)(%cn %cr)%Creset'
