_auth = bnVtYmNvZGVyOnd6NDc5OTA4Ng==
#registry = http://pomelo.com:5984/ntsregistry/_design/app/_rewrite
email = wzhao23@gmail.com

[_token]
AuthSession = bnVtYmNvZGVyOjUxNTAwMzA1Oml8HG40-ylNeBtXACUA0K_s1vpc
version = 1
expires = 1364234150307
path = /
httponly = true
