_auth = bnVtYmNvZGVyOnd6NDc5OTA4Ng==
#registry = http://pomelo.com:5984/ntsregistry/_design/app/_rewrite
email = wzhao23@gmail.com

[_token]
AuthSession = bnVtYmNvZGVyOjUyRTBEQTREOicpApZyr5jRdNLfecJDjllaNy8Y
version = 1
expires = 1390503661545
path = /
httponly = true
